<app-header></app-header>
<section>
  <div class="container">
    <div class="user signinBx">
      <div class="imgBx"><img src="../../assets/cute_dog.jpg" alt="" /></div>
      <div class="formBx">
        <form [formGroup]="loginform">
          <h2>Sign In</h2>
          <input type="text" (keypress)="omit_special_char($event)"  placeholder="Username" formControlName="username" />
          <p *ngIf="submitAttempt && loginform.controls.username.invalid">
            Please Enter username</p>
          <input type="password"  placeholder="Password" formControlName="password" />
          <p *ngIf="submitAttempt && loginform.controls.password.invalid">
            Please Enter a password</p>
          <button  class="btn text-center" style="background-color: #FA4A0C;color: white;border-radius: 40px;    margin-left: 35%;
          margin-top: 2%;width: 8rem;font-size: 19px;font-weight: 800" (click)="onSubmit()">Login</button>
        </form>
      </div>
    </div>
 </div>
 </section>
